@import 'styles/mixins';

.app {
  min-height: 100vh;
  padding: $spacing-xl;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.tabContainer {
  margin-bottom: $spacing-xxxl;
}

@include mobile {
  .app {
    padding: $border-radius-xlarge;
  }
}